---
layout: default
title: The life and times of Paul Willard
image: ta-bearded.png
author: paul
pagination:
    enabled: true
---
{% for post in paginator.posts %}
	{% if post %}
		{% assign categories = post.categories %}
	{% else %}
		{% assign categories = page.categories %}
	{% endif %}
	{% assign author = site.authors | where: 'short_name', post.author | first %}

    <article class="postSnippet rounded border mb-3" itemscope itemtype="http://schema.org/Article">
              <div class="row w-100 m-0 p-0">
                <a href="{{site.url}}{{post.url}}" data-toggle="tooltip" data-original-title="{{post.title}}" data-placement="right" style="background: url('{{ site.url }}{{ site.thumbnails }}{{post.image}}') no-repeat center top / cover;" class="col-md-3 featuredImage m-0 p-0">{{post.title}}</a>
                <div class="bg-white col-md-9 p-3">
                  <div class="row">
                    <div class="col-md-12 bg-white">
                      <!-- post meta -->
                      <h2 class="entry-title"><a itemprop="url mainEntityOfPage" href="{{site.url}}{{post.url}}" data-toggle="tooltip" data-original-title="{{post.title}}" data-placement="bottom"><span itemprop="headline">{{post.title}}</span></a></h2>
                      <div class="post-meta"><span>by </span>
                      <div class="d-inline author vcard" itemprop="author">
                          {% if author %}<a href="{{ site.url }}{{ author.url }}" title="Posts by {{ author.name }}" rel="author" data-toggle="tooltip" data-original-title="Posts by {{ author.name }}" data-placement="bottom">
                            <div class="d-inline" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                <span itemprop="name">{{ author.name }}</span>
                                <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject" class="hidden">
                                    <link itemprop="url" href="{{ site.url }}{{author.pic}}" />
                                </div>
                            </div>
                          </a> - 
                            <a href="{{ author.facebook }}" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Facebook"><img alt="Facebook" src="{{ site.url }}/assets/images/icons/social_line/021-facebook.svg" class="svg16" /></a>
                            <a href="{{ author.instagram }}" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Instagram"><img alt="Instagram" src="{{ site.url }}/assets/images/icons/social_line/025-instagram.svg" class="svg16" /></a>
                            <a href="{{ author.youtube }}" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Youtube"><img alt="facebook" src="{{ site.url }}/assets/images/icons/social_line/011-youtube.svg" class="svg16" /></a>
                          {% endif %}
                      </div>  |  <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ post.date | date_to_string }}</time>  |  {% for category in categories %}<a href="{{ site.url }}/categories/#{{category|slugize}}" rel="category tag" data-toggle="tooltip" data-original-title="Posts in category: {{category}}" data-placement="bottom">{{category}}</a>{% if forloop.last != true %},{% endif %} {% endfor %}
                    </div>
                    </div>
                    <div class="col-md-12 bg-white">
                      <!-- post excerpt -->
                      <div class="post-excerpt p-2" itemprop="articleBody">{{ post.excerpt }} ... <a data-toggle="tooltip" data-original-title="{{post.title}}" href="{{site.url}}{{post.url}}">read more &raquo;</a></div>
                      <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="hidden"><link class="hidden" itemprop="url" href="{{ site.url }}{{ site.thumbnails }}{{post.image}}" /></div>
                    </div>
                  </div>
                </div>
              </div>
            </article>

{% endfor %}

    <!-- Pagination links -->
    <nav class="mx-auto bg-white w-25" aria-label="Blog pagination">
        <ul class="pagination  justify-content-center pagination-md">
        {% if paginator.previous_page %}
            <li class="page-item">
                <a class="page-link bg-white" href="{{ site.url }}{{ paginator.previous_page_path }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Previous page">Previous</a>
            </li>
        {% endif %}
        {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}
            <li class="page-item">
                <a class="page-link {% if trail.num == paginator.page %} active text-white{% else %} bg-white{% endif %}" href="{{ site.url }}{{ trail.path }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Got to page {{ trail.num }}">{{ trail.num }}</a>
            </li>
            {% endfor %}
        {% endif %}
            <li class="page-item">
                <a class="page-link text-nowrap">of {{ paginator.total_pages }}</a>
            </li>
        {% if paginator.next_page %}
            <li class="page-item">
                <a class="page-link bg-white" href="{{ site.url }}{{ paginator.next_page_path }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Next page">Next</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    <!-- end pagination link -->
