<div itemscope itemtype="http://schema.org/Comment">
<article id="comment{{ include.index }}" class="comment" itemprop="comment">
  <blockquote class="post-comment m-0 w-100 border-right border-top">
  <div class="float-left pr-3">
    {% if include.avatar %}
      <img class="comment_avatar rounded" src="{{ include.avatar }}" alt="{{ include.name }}" height="50" width="50">
    {% else %}
      <img class="comment_avatar rounded" src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&amp;s=50" srcset="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&amp;s=100 2x" alt="{{ include.name }}" height="50" width="50">
    {% endif %}
  </div>
  <div itemscope itemtype="http://schema.org/CreativeWork">
  <h3 class="comment_author" itemprop="author">
      {% unless include.url == blank %}
	      {% unless include.url == '' %}
		<a rel="nofollow" href="{{ include.url }}" target="_blank"><span itemprop="name">{{ include.name }}</span></a>
	      {% else %}
		<span itemprop="name">{{ include.name }}</span>
	      {% endunless %}
      {% else %}
        <span itemprop="name">{{ include.name }}</span>
      {% endunless %}
  </h3>
  </div>
  <footer class="blockquote-footer p-0 m-0">
      {% if include.date %}
        {% if include.index %}<a href="#comment{{ include.index }}" itemprop="url">{% endif %}
        <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.date | date: "%B %d, %Y at %I:%M %p" }}</time>
        {% if include.index %}</a>{% endif %}
      {% endif %}
  </footer>
  <div itemprop="text">{{ include.message | markdownify }}</div>
  </blockquote>
</article>
</div>
