            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ta_nav-mobile">
      <div class="ta_nav-mobile-overlay"></div>
      <div class="navbar"></div>
    </div>

    {% include search_modal.html %}

    {% include lightbox_modal.html %}
    <div class="container-fluid pb-5">
        <div class="container">
        {% include post_comments.html %}
        </div>
    </div>

    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" data-animation="false">&uArr; Top</a>
    <!-- footer post -->
    <script src="{{'assets/js/bundle.js' | absolute_url }}"></script>
  </body>
</html>
