		  </div>
          <div class="col-md-3"> <!-- sidebar -->
            <aside>
              <h4>Categories</h4>
              <ul class="list-group categoriesList">
                {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                <li class="list-group-item"><a href="{{ site.url }}/categories/#{{ category_name | slugize }}">{{ category_name | slugsize }}</a></li>
                {% endfor %}
              </ul> 
            </aside>
            <aside>
              <h4>Archives</h4>
              <ul class="list-group archivesList">
                  {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
                  {% for yearMonth in postsByYearMonth %}
                  <li class="list-group-item"><a href="#">{{ yearMonth.name }}</a></li>
                  {% endfor %}
              </ul> 
            </aside>
          </div>
        </div>
      </div>
    </div>
    <div class="ta_nav-mobile">
      <div class="ta_nav-mobile-overlay"></div>
      <div class="navbar"></div>
    </div>

    {% include search_modal.html %}

    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" data-animation="false">&uArr; Top</a>

    <script src="{{'assets/js/bundle.js' | absolute_url }}"></script>
    <script>console.log('{{ site.archives | json }}')</script>
  </body>
</html>
