		  </div>
          <div class="col-md-3"> <!-- sidebar -->
            <aside>
              <h4>Categories</h4>
              <ul class="list-group categoriesList">
                {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                <li class="list-group-item"><a href="{{ site.url }}/categories/#{{ category_name | slugize }}">{{ category_name | slugsize }}</a></li>
                {% endfor %}
              </ul> 
            </aside>
            <aside>
              <h4>Archives</h4>
<div id="accordion" class="archivesAccordian">
{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
	<div class="card">
	  	<div class="card-header p-0" id="y{{ year.name }}">
	      <h5 class="mb-0">
              <button class="btn btn-link w-100 dark-blue-link p-3{% unless forloop.first %} collapsed{% endunless %}" data-toggle="collapse" data-target="#m{{ year.name }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="m{{ year.name }}">
	          {{ year.name }}
	        </button>
	      </h5>
	    </div>
	    <div id="m{{ year.name }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="y{{ year.name }}" data-parent="#accordion">
	      <div class="card-body">
			<div class="list-group">
  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
  {% for month in postsByMonth %}
    {% for item in month.items limit: 1 %}
                <a class="list-group-item list-group-item-action" href="{{ site.url }}/{{ item.date | date: '%Y/%m' }}/">{{ month.name }}</a>
    {% endfor %}
  {% endfor %}
  			</div>
  		  </div>
        </div>
  	</div>
{% endfor %}
</div>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="ta_nav-mobile">
              <div class="ta_nav-mobile-overlay"></div>
              <div class="navbar"></div>
            </div>
        </div>
    </div>

    {% include search_modal.html %}

    <div class="container-fluid d-print-none">
        <div class="container">
            <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" data-animation="false">&uArr; Top</a>
        </div>
    </div>

    <script src="{{'assets/js/bundle.js' | absolute_url }}"></script>
  </body>
</html>
