<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%  include google_analytics.html %}

    <title id="pageTitle">{{ page.title }}</title>
	{% capture styles %}
    {% include main.css %}
    {% endcapture %}
	<style>
	{{ styles | scssify }}
	</style>
	{% feed_meta %}
	{% seo title=false %}
	{% include favicon.html %}

    <meta property="fb:app_id" content="222058004471035" />
    <meta property="fb:profile_id" content="100000348834111" />
    <meta property="fb:admins" content="100000348834111" />
    <meta property="og:image" content="{{ site.url }}{{ site.thumbnails }}{{page.image}}" />

  </head>
  <body class="single_post">
	{% include navigation.html %}
    <div class="container-fluid" id="fluidcontainer">
      <div class="container">
        <div class="row">
          <div class="col-md-12" id="pwnzContainer" itemscope itemtype="http://schema.org/Article">
			<div class="row w-100">
				<h1 itemprop="headline">{{page.title}}</h1>
			</div>
			<div class="row w-100 headline d-print-none">
				<blockquote class="post-meta m-0 w-100 border-right border-top">
                    Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time> | Categories:
					{% if post %}
						{% assign categories = post.categories %}
					{% else %}
						{% assign categories = page.categories %}
					{% endif %}
					{% for category in categories %}
						<a href="{{ site.url }}/categories/#{{category|slugize}}">{{category}}</a>
					{% endfor %}

			  {% assign author = site.authors | where: 'short_name', page.author | first %}
			  {% if author %}
			  <footer class="blockquote-footer p-0 m-0">by <a itemprop="author" href="{{ site.url }}{{ author.url }}" class="dark-blue-link">{{ author.name }}</a></footer>
			  {% endif %}
				</blockquote>
			</div>
            <div class="pt-3 single_post_content">

