<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%  include google_analytics.html %}

	{% capture styles %}
    {% include main.css %}
    {% endcapture %}
	<style>
	{{ styles | scssify }}
	</style>
    {% include seo.html %}

	{% feed_meta %}
	{% include favicon.html %}

    <meta property="fb:app_id" content="222058004471035" />
    <meta property="fb:profile_id" content="100000348834111" />
    <meta property="fb:admins" content="100000348834111" />

    <meta http-equiv="x-dns-prefetch-control" content="on">

    <script src='https://www.google.com/recaptcha/api.js'></script>

  </head>
  <body class="single_post">
	{% include navigation.html %}
    <div class="container-fluid" id="fluidcontainer">
      <div class="container" id="pwnzContainer">
        <div class="row">
            <div class="col-md-12" id="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/Article">
                <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="hidden"><link class="hidden" itemprop="url" href="{{ site.url }}{{ site.post-images }}{{page.image}}" /></div>
			<div class="row w-100">
                <a class="text-dark" itemprop="url mainEntityOfPage" href="{{site.url}}{{page.url}}" data-toggle="tooltip" data-original-title="{{ page.title }}" data-placement="bottom"><h1 itemprop="headline">{{page.title}}</h1></a>
			</div>
			<div class="row w-100 headline d-print-none">
				<blockquote class="post-meta m-0 w-100 border-right border-top">
                    Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date_to_string }}</time> | Categories:
					{% if post %}
						{% assign categories = post.categories %}
					{% else %}
						{% assign categories = page.categories %}
					{% endif %}
					{% for category in categories %}
                        <a data-toggle="tooltip" data-original-title="Posts in category {{ category }}" data-placement="bottom" href="{{ site.url }}/categories/#{{category|slugize}}">{{category}}</a>{% if forloop.last != true %},{% endif %}
					{% endfor %}

			  {% assign author = site.authors | where: 'short_name', page.author | first %}
			  {% if author %}
              <footer class="blockquote-footer p-0 m-0">by 
                  <div class="d-inline author vcard" itemprop="author">
                      <a data-toggle="tooltip" data-original-title="Posts by {{ author.name }}" data-placement="bottom" href="{{ site.url }}{{ author.url }}" class="text-dark" rel="author">
                          <div class="d-inline" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                             <span itemprop="name" class="font-weight-bold">{{ author.name }}</span>
                             <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject" class="hidden">
                               <link itemprop="url" href="{{ site.url }}{{author.pic}}" />
                             </div>
                          </div>
                          <div class="d-none" itemprop="author" itemscope itemtype="https://schema.org/Person">
                              <span itemprop="name">{{ author.name }}</span>
                              <img src="{{ site.url }}{{author.pic}}" itemprop="image" alt="Photo of {{ author.name }}"/>
                              <span itemprop="jobTitle">{{ author.position }}</span>
                          </div>
                      </a> - 
                        <a href="{{ author.facebook }}" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Facebook"><img alt="Facebook" src="{{ site.url }}/assets/images/icons/social_coloured/021-facebook.svg" class="svg16" /></a>
                        &nbsp;<a href="{{ author.instagram }}" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Instagram"><img alt="Instagram" src="{{ site.url }}/assets/images/icons/social_coloured/025-instagram.svg" class="svg16" /></a>
                        &nbsp;<a href="{{ author.youtube }}" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Youtube"><img alt="facebook" src="{{ site.url }}/assets/images/icons/social_coloured/011-youtube.svg" class="svg16" /></a>
                  </div>
              </footer>
			  {% endif %}
				</blockquote>
			</div>
            <div class="pt-3 single_post_content bg-white p-2 rounded border">

