<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%  include google_analytics.html %}

	{% capture styles %}
    {% include main.css %}
    {% endcapture %}
	<style>
	{{ styles | scssify }}
	</style>
    {% include seo.html %}

	{% feed_meta %}
	{% include favicon.html %}

    <meta property="fb:app_id" content="222058004471035" />
    <meta property="fb:profile_id" content="100000348834111" />
    <meta property="fb:admins" content="100000348834111" />

  </head>
  <body class="single_post">
	{% include navigation.html %}
    <div class="container-fluid" id="fluidcontainer">
      <div class="container" id="pwnzContainer">
        <div class="row">
            <div class="col-md-12" id="{{ site.url }}{{ page.url }}" itemscope itemtype="http://schema.org/Article">
                <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="hidden"><link class="hidden" itemprop="url" href="{{ site.url }}{{ site.post-images }}{{page.image}}" /></span>
			<div class="row w-100">
                <a class="text-dark" itemprop="url mainEntityOfPage" href="{{site.url}}{{page.url}}"><h1 itemprop="headline">{{page.title}}</h1></a>
			</div>
			<div class="row w-100 headline d-print-none">
				<blockquote class="post-meta m-0 w-100 border-right border-top">
                    Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date_to_string }}</time> | Categories:
					{% if post %}
						{% assign categories = post.categories %}
					{% else %}
						{% assign categories = page.categories %}
					{% endif %}
					{% for category in categories %}
                        <a href="{{ site.url }}/categories/#{{category|slugize}}">{{category}}</a>{% if forloop.last != true %},{% endif %}
					{% endfor %}

			  {% assign author = site.authors | where: 'short_name', page.author | first %}
			  {% if author %}
              <footer class="blockquote-footer p-0 m-0">by 
                  <span class="author vcard" itemprop="author">
                      <a href="{{ site.url }}{{ author.url }}" class="text-dark" rel="author">
                          <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                             <span itemprop="name" class="font-weight-bold">{{ author.name }}</span>
                             <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject" class="hidden">
                               <link itemprop="url" href="{{ site.url }}{{author.pic}}" />
                             </span>
                           </span>
                      </a>
                  </span>
              </footer>
			  {% endif %}
				</blockquote>
			</div>
            <div class="pt-3 single_post_content">

