<nav class="navbar sticky-top ta_nav"><a class="navbar-brand" href="#"><img src="{{ site.url }}/assets/images/ta-bearded.png" /> &nbsp; <span>LoudAs.com</span></a>
      <div class="d-flex flex-row align-items-center">
          <a class="searchIcon m-2" href="#" data-toggle="modal" data-target="#ModalSearch" id="modalSearchButton"><img src="{{ site.url }}/assets/images/search.svg" alt="Search... " class="searchIcon"></a>
        <button class="navbar-toggler toggler-spring m-2"><span class="navbar-toggler-icon"><!----></span></button>
      </div>
      <div class="collapse navbar-collapse justify-content-sm-end">
        <ul class="navbar-nav navbar-mobile mr-0">
          <li class="nav-item nav-item-fill active"><a class="nav-link p-1 rounded" href="#">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link  p-1 rounded" href="#">Videos &raquo;</a>
            <ul class="navbar-nav submenu">
              <li class="nav-item nav-item-fill"><a class="nav-link p-1 rounded" href="#">General Videos</a></li>
              <li class="nav-item nav-item-fill"><a class="nav-link p-1 rounded" href="#">Dance Videos</a></li>
            </ul>
          </li>
          <li class="nav-item nav-item-fill"><a class="nav-link p-1 rounded" href="#">Pics</a></li>
          <li class="nav-item nav-item-fill"><a class="nav-link p-1 rounded" href="contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>
