    <nav class="navbar sticky-top ta_nav"><a class="navbar-brand" href="/" data-original-title="{{ site.site_name }}" data-toggle="tooltip"><img src="{{ site.url }}/assets/images/ta-bearded.png" /> &nbsp; <span>LoudAs.com</span></a>
      <div class="d-flex flex-row align-items-center">
          {% if page.url != "/404.html" %}
          <span class="searchIconT" data-original-title="Search {{ site.url }}" data-toggle="tooltip"><a class="searchIcon m-2" href="#" data-toggle="modal" data-target="#ModalSearch" id="modalSearchButton"><img src="{{ site.url }}/assets/images/search.svg" alt="Search... " class="searchIcon"></a></span>
          {% endif %}
        <button class="navbar-toggler toggler-spring m-2"><span class="navbar-toggler-icon"><!----></span></button>
      </div>
      <div class="collapse navbar-collapse justify-content-sm-end">
        <ul class="navbar-nav navbar-mobile mr-0">
          {% for item in site.data.navigation %}
           {% if item.subcategories != null %}
          <li class="nav-item dropdown">
              <a class="nav-link  p-1 rounded" href="#">{{ item.name }} &raquo;</a>
              <ul class="navbar-nav submenu">
              {% for subcategory in item.subcategories %}
              <li class="nav-item nav-item-fill"><a class="nav-link p-1 rounded {% if page.url == subcategory.subhref %} active{% endif %}" href="{{ subcategory.subhref }}" title="{{ item.name }}" data-toggle="tooltip" data-placement="right">{{ subcategory.subtitle }}</a></li>
              {% endfor %}
              </ul>
          </li>
           {% else %}
           <li class="nav-item nav-item-fill {% if page.url == item.link %} active{% endif %}"><a title="{{ item.name }}" data-toggle="tooltip" data-placement="right" class="nav-link p-1 rounded" href="{{ item.link }}">{{ item.name }}</a></li>
           {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
