@font-face {
    font-family: 'TerminalAddict';
    font-display: block;
    src:url('https://www.loudas.com/assets/fonts/TerminalAddict.ttf') format("truetype");
}

.navbar-brand span {
    font-family: 'TerminalAddict'; 
    font-size: 65px; 
    color: #e74608; 
    -webkit-transform: rotate(-3deg); 
    -ms-transform: rotate(-3deg); 
    -moz-transform: rotate(-3deg); 
    -o-transform: rotate(-3deg); 
    transform: rotate(-3deg); 
    display: inline-block; 
    z-index: 20;
}
@media (max-width:768px) {
    .navbar-brand span {
        font-size: 9vw;
    }
}

*,
:focus {
    outline: 0!important;
}

.navbar-brand {
    width: 110px;
    height: 100px;
    margin: 0;
}

.pl-250px {
    padding-left: 250px;
    transform: translate3d(0, 0, 0);
    transition: 0.3s all ease;
}

#fluidcontainer {
    transform: translate3d(0, 0, 0);
    transition: 0.3s all ease;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    border: none;
    width: 32px;
    height: 24px;
    padding: 0;
    position: relative;
    border-radius: 0;
    cursor: pointer;
}

.navbar-toggler .navbar-toggler-icon {
    top: 10px;
}

.navbar-toggler .navbar-toggler-icon,
.navbar-toggler .navbar-toggler-icon::after,
.navbar-toggler .navbar-toggler-icon::before {
    background-color: #fff;
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    border-radius: 100px;
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.navbar-toggler .navbar-toggler-icon::after,
.navbar-toggler .navbar-toggler-icon::before {
    content: "";
    display: block;
}

.navbar-toggler .navbar-toggler-icon::before {
    top: -10px;
}

.navbar-toggler .navbar-toggler-icon::after {
    bottom: -10px;
}

.navbar-toggler.toggler-spring .navbar-toggler-icon {
    top: 0;
    transition: background-color 0s .13s linear;
}

.navbar-toggler.toggler-spring .navbar-toggler-icon::before {
    top: 10px;
    transition: top .1s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19);
}

.navbar-toggler.toggler-spring .navbar-toggler-icon::after {
    top: 20px;
    transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19);
}

.navbar-toggler.toggler-spring.active .navbar-toggler-icon {
    transition-delay: .22s;
    background-color: transparent;
}

.navbar-toggler.toggler-spring.active .navbar-toggler-icon::before {
    top: 0;
    transition: top .1s .15s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .22s cubic-bezier(.215, .61, .355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.navbar-toggler.toggler-spring.active .navbar-toggler-icon::after {
    top: 0;
    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .22s cubic-bezier(.215, .61, .355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.ta_nav-overlay .nav-item.dropdown>.navbar-nav:not(.in),
.ta_nav-overlay-light .dropdown.dropdown-horizontal>.navbar-nav:not(.in) {
    transition: clip 0s;
}

.ta_nav {
    background: rgb(169,3,41);

    background: -moz-linear-gradient(top, rgba(94,2,0,0.9) 0%, rgba(143,2,34,0.9) 9%, rgba(143,2,34,0.89) 92%, rgba(109,0,25,0.89) 99%, rgba(109,0,25,0.89) 100%); 
    background: -webkit-linear-gradient(top, rgba(94,2,0,0.9) 0%,rgba(143,2,34,0.9) 9%,rgba(143,2,34,0.89) 92%,rgba(109,0,25,0.89) 99%,rgba(109,0,25,0.89) 100%); 
    background: linear-gradient(to bottom, rgba(94,2,0,0.9) 0%,rgba(143,2,34,0.9) 9%,rgba(143,2,34,0.89) 92%,rgba(109,0,25,0.89) 99%,rgba(109,0,25,0.89) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65e0200', endColorstr='#e36d0019',GradientType=0 );
    padding-top: 0;
    padding-bottom: 0;
    z-index: 50;
    margin-bottom: 50px;
}

.navbar-nav .nav-item {
    color: #000;
}

.navbar-nav .nav-item.active>.nav-link,
.navbar-nav .nav-item:active:focus>.nav-link,
.navbar-nav .nav-item:active>.nav-link,
.navbar-nav .nav-item:focus>.nav-link,
.navbar-nav .nav-item:hover>.nav-link {
    color: rgba(143,2,34,0.9);
}

.navbar-nav .nav-item.nav-item-fill.active>.nav-link,
.navbar-nav .nav-item.nav-item-fill>.nav-link:active:focus>.nav-link,
.navbar-nav .nav-item.nav-item-fill>.nav-link:active>.nav-link,
.navbar-nav .nav-item.nav-item-fill>.nav-link:focus>.nav-link,
.navbar-nav .nav-item.nav-item-fill>.nav-link:hover>.nav-link {
    background: rgba(143,2,34,0.9);
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-nav .nav-link {
    color: inherit;
    padding: 20px 15px;
    display: block;
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.ta_nav-brand-top .navbar-brand,
.ta_nav-sidebar .navbar-brand {
    margin-left: 0;
    margin-right: 0;
}

.nav-item.dropdown>.navbar-nav {
    width: 200px;
    pointer-events: none;
    flex-direction: column;
    transition: .3s ease-out;
    transition-delay: .1s;
    clip: rect(0, 100vw, 0, 0);
}

.nav-item.dropdown>.navbar-nav.in {
    pointer-events: initial;
    clip: rect(0, 50vw, 2000px, 0);
    transition: 1.5s ease-in;
    display: flex !important;
}

.nav-item.dropdown>.navbar-nav .navbar-nav {
    width: 200px;
    flex-direction: column;
    top: 0;
    left: 100%;
    position: absolute;
    transition: 1s;
    clip: rect(0, 0, 2000px, 0);
}

.nav-item.dropdown>.navbar-nav .nav-item {
    font-size: .9rem;
    line-height: 1.2;
    position: relative;
}

.nav-item.dropdown>.navbar-nav .nav-item .nav-link {
    padding: 10px;
}

.nav-item.dropdown>.navbar-nav .nav-item:hover>.navbar-nav {
    clip: rect(0, 100vw, 2000px, 0);
}

.nav-item.dropdown>.navbar-nav .nav-item strong.nav-link {
    font-weight: 700;
}

.ta_nav-mobile,
.ta_nav-mobile .ta_nav-mobile-overlay {
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
}

.ta_nav-mobile {
    bottom: 0;
    z-index: 49;
    pointer-events: none;
}

.ta_nav-mobile .ta_nav-mobile-overlay {
    bottom: 0;
    visibility: hidden;
    pointer-events: none;
}

.ta_nav-mobile .navbar {
    background: rgba(255,255,255,0.9);
    width: 230px;
    padding-top: 80px;
    flex-flow: column;
    top: 130px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: .4s ease-in-out;
    transform: translate3d(-300px, 0, 0);
    overflow: auto;
    border-radius: 0 20px 0 0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #ccc;
}

.ta_nav-mobile li.nav-item, .ta_nav-mobile li.nav-item a {
    width: 100%;
}

.ta_nav-mobile .navbar.ta_nav-dark {
    background: #000;
}

.ta_nav-mobile .navbar-nav {
    width: 100%;
    padding: 15px;
    flex-direction: column;
}

.ta_nav-mobile .navbar-nav .nav-item .nav-link {
    max-width: 100%;
    padding: 5px 0;
    display: inline-block;
}

.ta_nav-mobile .navbar-nav .nav-item .nav-link>.title {
    max-width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.ta_nav-mobile .navbar-nav .nav-item .navbar-nav {
    margin-left: -15px;
    margin-right: -15px;
    display: none;
    box-sizing: content-box;
}

.ta_nav-mobile .navbar-nav .nav-item.active .navbar-nav {
    display: block;
}

.ta_nav-mobile .navbar-nav .nav-item.menu-item-has-children>.nav-link {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.ta_nav-mobile .navbar-nav .nav-item.menu-item-has-children>.navbar-nav {
    padding-top: 0;
    padding-bottom: 30px;
}

.ta_nav-mobile .navbar-nav.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

.ta_nav-mobile.in {
    pointer-events: initial;
}

.ta_nav-mobile.in .navbar {
    transform: translate3d(0, 0, 0);
}

.ta_nav-mobile.in .ta_nav-mobile-overlay {
    visibility: visible;
    pointer-events: initial;
}

.featuredImage {
    -webkit-border-radius: .25rem 0 0 .25rem;
    -moz-border-radius: .25rem 0 0 .25rem;
    border-radius: .25rem 0 0 .25rem;
    min-height: 200px;
}

a.featuredImage { font-size: 0; }

.jumbotron{
    color: #fff;
    height: 600px;
    display: flex;
    align-items: center;
    margin-top: -165px;
}

h2.entry-title a {
    color: #333;
}

p.post-meta {
    font-size: .7rem;
}
nav.navbar div.flex-row {
	z-index: 99;
}

@media (max-width: 844px) {
    .featuredImage {
        background-origin: content-box !important;
        border-radius: .25rem .25rem 0 0;
    }

}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
}

img[rel~="lightbox"] {
    cursor: pointer;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.headline {
    border-bottom: 1px solid #aaa;
    margin: 15px 0;
    /* padding: 5px 0; */
    position: relative;
    color: #343434;
    font-weight: normal;
    font-family: sans-serif;
}
@media (max-width: 576px) {
    .headline { font-size: 20px !important; }
}
.headline:before,
.headline:after {
    content: '';
    border-right: 20px solid #fff;
    border-top: 15px solid #aaa;
    bottom: -15px;
    position: absolute;
    left: 25px;
}

.headline:after {
    border-top-color: #fff;
    border-right-color: transparent;
    bottom: -13px;
    left: 26px;
}
.sub-heading {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #343434;
    float: left;
    margin-left: 20px;
}
.sub-heading:after, .sub-heading:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.sub-heading:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.sub-heading:before {
    border-color: rgba(52, 52, 52, 0);
    border-top-color: #343434;
    border-width: 11px;
    margin-left: -11px;
}
.minor-heading:before {
    content:" \2192 ";
}
.minor-heading:after {
    content:"  ";
}
.minor-heading {
    margin-left: 5px;
}
pre {
padding: 1.5rem !important; 
white-space: pre-wrap !important;
max-height: 400px !important; 
overflow-y: scroll !important;
background-color: #f9f9f9;
}
.print-icon { width: 30px; }
.single_post h2 {
    border-bottom: 1px solid #aaa;
    margin: 15px 0;
    padding: 5px 0;
    position: relative;
    color: #343434;
    font-weight: normal;
    font-family: sans-serif;
}
@media (max-width: 576px) {
    .single_post h2 { font-size: 20px !important; }
}

.single_post h2:before,
.single_post h2:after {
    content: '';
    border-right: 20px solid #fff;
    border-top: 15px solid #aaa;
    bottom: -15px;
    position: absolute;
    left: 25px;
}

.single_post h2:after {
    border-top-color: #fff;
    border-right-color: transparent;
    bottom: -13px;
    left: 26px;
}
.single_post blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.single_post blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  font-family: sans-serif;
}

#comment-form blockquote:before {
    position: relative;
    top: 20px;
}
.comment h3.comment_author:after {
  color: #ccc;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  font-family: sans-serif;
  float: right;
  padding-top: 10px;
}
.single_post blockquote p {
  display: inline;
}
.post-meta { font-size: 0.8rem; }
h3.comment_author { font-size: 1.5em; }

.hidden { display:none; }

.categoriesList a {
    width: 100%;
    display: inline-block;
}
.categoriesList a:hover {
    color: rgba(143,2,34,0.9)
}
img {
    max-width: 100%;
}
/* on/off */
.onoff {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  cursor: pointer;
  width: 55px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #ff0000;
  border-radius: 5px;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}
.onoff label:after {
  content: 'NO';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  z-index: 1;
}
.onoff label:before {
  content: '';
  width: 15px;
  height: 24px;
  border-radius: 3px;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.onoff input:checked + label {
  background: #007bff;
  text-indent: 8px;
}
.onoff input:checked + label:after {
  content: 'YES';
  color: #fff;
}
.onoff input:checked + label:before {
  left: 37px;
}
span.notifyText { 
    position: relative;
    top: -7px;
}
/* on/off */
.pagination li a.current {
}
iframe {
    border-width: 0px;
}

a, .pagination a.page-link, .dark-blue-link { color: #004A94; }
.pagination a.active, .dark-blue-bg { background-color: #004A94; }
